.wrapper {
  width: 100%;
}

.todos {
  list-style: none;
  padding: 0;
}

.todo {
  border-bottom: 1px solid #3c2923;
  padding: 10px;
  position: relative;
  margin-bottom: 15px;
}

.text {
  display: inline-block;
}

.button {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 8px;
}
