.header {
  height: 80px;
  width: 100vw;
  background-color: #f0e7d8;
}
.contents {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  min-width: 500px;
}
.buttons {
  height: 100%;
  width: 200px;
  float: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  a {
    margin-left: 10px;
  }
}

.title {
  float: left;
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  font-size: 26px;
  color: #3c2923;
}
